.resultsWithDataContainer {
  width: 100%;
  display: flex;
}

.displayResults {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: 5%;
}

.innerDisplayResults {
  display: flex;
  /* flex-direction: row;
  justify-content: left; */
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 5%;
  margin-top: 5%;
}

.displayDivided {
  display: flex;
}
