.logo {
  font-size: 3em;
  margin-top: 0px;
  margin-left: 2%;
  color: white;
  margin-bottom: 0px;
  font-family: "Crete Round", serif;
}

.navbarInnerContainer {
  width: 100%;
  display: flex;
  background-color: grey;
  align-items: center;
  justify-content: space-between;
}

.links {
  text-decoration: none;
}

a {
  color: inherit;
}

.searchTicketsLink {
  font-size: 3em;
  margin-top: 0px;
  margin-right: 2%;
  color: white;
  margin-bottom: 0px;
  font-family: "Crete Round", serif;
}
