.mainSearchContainer {
  width: 100%;
  display: flex;
}

.innerSearchContainer {
  width: 100%;
}

.displayResults {
  display: flex;
  justify-content: flex-end;
}

.selectionInput {
  display: flex;
  justify-content: flex-start;
}

.calendarInputDiv {
  display: flex;
  justify-content: flex-start;
}

.displayTicketInfoContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.displayLeft {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: left;
  width: 30%;
}

.displayPTag p {
  margin: 0px;
  margin-right: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
  padding: 0px;
}

.displayMiddle {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: left;
  width: 30%;
}

.displayRight {
  display: flex;
  text-align: left;
  width: 30%;
}
